/* --- news css starts --- */
.firstnews
{
	height: 650px;
	width: 1500px;
	margin-top: 10px;
}

.newsimg1
{
	margin-left: -1px;
	margin-top: 0;
	height: 650px;
	width: 748px;
	background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)) 70%, url(../images/news1.jpg);
	background-size: cover;
}
.headline1
{
	margin-top: -80px;
	margin-left: 30px;
	font-size: 36px;
	font-family: arial;
	color: white;
}

.newsimg2
{
	margin-left: 752px;
	margin-top: -648px;
	height: 322px;
	width: 748px;
	background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)) 70%, url(../images/news2.jpg);
	background-size: cover;
}

.headline2
{
	margin-top: -70px;
	margin-left: 780px;
	font-size: 36px;
	font-family: arial;
	color: white;
}


.newsimg3
{
	margin-left: 752px;
	margin-top: -2px;
	height: 322px;
	width: 748px;
	background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)) 70%, url(../images/news3.jpg);
	background-size: cover;
}

.headline3
{
	margin-top: -65px;
	margin-left: 770px;
	font-size: 36px;
	font-family: arial;
	color: white;
}


.newspage
{
	font-family: arial;
	border-bottom: 6px solid springgreen;
	font-size: 36px;
	width: 1000px;
	margin-left: 30px;
}

.newsdivorg1
{
	height: 150px;
	width: 980px;
	margin-left: 40px;
	margin-top: -10px;
	margin-bottom: 20px;
	border-bottom: 01px solid grey;
	padding: 10px 0px;
}
.newsdivorg1:hover
{
	box-shadow: 5px 5px 5px grey;
}
.newsimage1
{
	height: 150px;
	width: 230px;
	margin-left: 0px;
	margin-top: 0px;
}
.realnewsheading
{
	font-size: 20px;
	margin-left: 260px;
	margin-top: -150px;
}
.realnewsorgp
{
	font-size: 14px;
	margin-left: 260px;
	margin-top: 0px;
	line-height: 20.9px;
}
.sidenews
{
	height: 1000px;
	width: 450px;
	margin-left: 1045px;
	margin-top: -800px;
}
.trendingh
{
	width: 100%; 
    text-align: left; 
	border-bottom: 6px solid springgreen; 
	line-height: 0.1em;
	margin: 50px 0 20px; 
}
.trendingh span { 
    background:#fff; 
    padding:0 10px; 
}
.trending1
{
	height: 70px;
	width: 400px;
	margin-left: 15px;
	padding: 0px 0px 9px 0px;
}
.trending1:hover
{
	background-color: 	#DCDCDC;
}
.trendingnews1
{
	margin-left: 3px;
	margin-top: 3px;
	font-size: 14px;
	font-family: arial;
}
.trendingimg1
{
	height: 65px;
	width: 110px;
	margin-top: -50px;
	margin-left: 280px;
}
.newspage2
{
	font-family: arial;
	border-bottom: 6px solid springgreen;
	font-size: 36px;
	width: 1000px;
	margin-left: 30px;
	margin-top: -200px;
}

/* --- news css ends --- */
@media (max-width: 940px){
	.firstnews
	{
		height: auto;
		width: 100%;
		margin-top: 10px;
	}

	.newsimg1
	{
		margin: 0 0 0 6px;
		width: 98%;
		height: 200px;
		background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)) 70%, url(../images/news1.jpg) no-repeat;
		background-size: cover;
	}
	.headline1
	{
		margin: -30px 0 0 20px;
		font-size: 200%;
		font-family: arial;
		color: white;
	}

	.newsimg2
	{
		margin: 10px 0 0 6px;
		height: 200px;
		width: 98%;
		background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)) 70%, url(../images/news2.jpg)no-repeat;
		background-size: cover;
	}

	.headline2
	{
		margin: -30px 0 0 20px;
		font-size: 200%;
		font-family: arial;
		color: white;
	}


	.newsimg3
	{
		margin: 10px 0 0 6px;
		height: 200px;
		width: 98%;
		background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)) 70%, url(../images/news3.jpg)no-repeat;
		background-size: cover;
	}

	.headline3
	{
		margin: -30px 0 0 20px;
		font-size: 200%;
		font-family: arial;
		color: white;
	}


	.newspage
	{
		font-family: arial;
		border-bottom: 6px solid springgreen;
		font-size: 250%;
		width: 98%;
		margin: 30px 0 0 6px;
	}

	.newsdivorg1
	{
		height: 100px;
		width: 98%;
		margin: 10px 0 0 10px;
		border-bottom: 1px solid grey;
		padding: 0;
	}
	.newsdivorg1:hover
	{
		box-shadow: 2px 2px 2px grey;
	}
	.newsimage1
	{
		height: 90px;
		width: 30%;
		margin: 0 0 0 0;
	}
	.realnewsheading
	{
		font-size: 120%;
		margin: -95px 0 0 150px;
	}
	.realnewsorgp
	{
		font-size: 100%;
		margin: 6px 0 0 150px;
		line-height: 11px;
	}
	.sidenews
	{
		display: none;
	}
	.trendingh
	{
		display: none; 
	}
	.trendingh span { 
		display: none;
	}
	.trending1
	{
		display: none; 
	}
	.trending1:hover
	{
		display: none; 
	}
	.trendingnews1
	{
		display: none;
	}
	.trendingimg1
	{
		display: none;
	}
	.newspage2
	{
		font-family: arial;
		border-bottom: 6px solid springgreen;
		font-size: 250%;
		width: 100%;
		margin: 30px 0 0 3px;
	}

	